;Remove grenades to prevent ending trolling
add:
{
	"origin" "1 2 3"
	"UseRandomTime" "0"
	"targetname" "Spx_Nade_Kill"
	"StartDisabled" "1"
	"spawnflags" "0"
	"RefireTime" "0.2"
	"classname" "logic_timer"
	"OnTimer" "weapon_hegrenadeKill0-1"
	"OnTimer" "weapon_decoyKill0-1"
	"OnTimer" "weapon_flashbangKill0-1"
	"OnTimer" "weapon_smokegrenadeKill0-1"
}

modify:
{
	match:
	{
		"targetname" "<<<TARGETNAME>>>"
		"classname" "<<<CLASSNAME>>>>"
	}
	insert:
	{
		"OnTrigger" "Spx_Nade_KillEnable<<<TIME>>>1"
	}
}
