;Stripper by Spxctator
;Fix stage 2 teleport bug
;Change darkness + brightness combo to kill zombies only

modify:
{
	match:
	{
		"targetname" "S2_Button_2"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "S2_Afk_4Enable501"
		"OnPressed" "S2_TDoor_1Close451"
		"OnPressed" "Spawn_Afk_DesAddOutputorigin 5952 5376 4166501"
	}
}

modify:
{
	match:
	{
		"targetname" "S2_Button_Relay_3"
		"classname" "logic_relay"
	}
	delete:
	{
		"OnTrigger" "S2_Afk_4Disable01"
	}
	insert:
	{
		"OnTrigger" "S2_Afk_4Enable51"
		"OnTrigger" "S2_TDoor_1Close01"
		"OnTrigger" "Spawn_Afk_DesAddOutputorigin 5952 5376 416651"
		"OnTrigger" "S2_Afk_4Disable101"
	}
}

modify:
{
	match:
	{
		"targetname" "Dark_Hurt"
		"classname" "trigger_hurt"
	}
	insert:
	{
		"filtername" "Filter_T"
	}
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmdCommandsay Fixed by Spxctator31"
	}
}