;Fix ending
modify:
{
	match:
	{
		"targetname" "lvl3_end_t1_move2"
		"classname" "func_door"
	}
	replace:
	{
		"rendermode" "0"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl3_end_t2_move2"
		"classname" "func_door"
	}
	replace:
	{
		"rendermode" "0"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl3_end_t3_move2"
		"classname" "func_door"
	}
	replace:
	{
		"rendermode" "0"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl3_end_t4_move2"
		"classname" "func_door"
	}
	replace:
	{
		"rendermode" "0"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl3_end_t5_move2"
		"classname" "func_door"
	}
	replace:
	{
		"rendermode" "0"
	}
}

;Remove grenades to prevent ending trolling
add:
{
    "UseRandomTime" "0"
    "targetname" "Spx_Nade_Kill"
    "StartDisabled" "1"
    "spawnflags" "0"
    "RefireTime" "0.5"
    "classname" "logic_timer"
    "OnTimer" "weapon_hegrenadeKill0-1"
    "OnTimer" "weapon_decoyKill0-1"
    "OnTimer" "weapon_flashbangKill0-1"
    "OnTimer" "weapon_smokegrenadeKill0-1"
}

modify:
{
    match:
    {
        "targetname" "lvl3_end_relay"
        "classname" "logic_relay"
    }
    insert:
    {
        "OnTrigger" "Spx_Nade_KillEnable107.5-1"
    }
}
