;Stripper by Spxctator
modify:
{
	match:
	{
		"origin" "320 -384 160"
		"classname" "trigger_once"
    }
	insert:
	{
		"OnTrigger" "cmdCommandsay [GLOW ENABLED]1-1"
		"OnTrigger" "temple_lever1_mdlSetGlowEnabled30-1"
	}
}


;Server priority (from memories)
modify:
{
	match:
	{
		"origin" "67 1783 2371"
		"classname" "logic_auto"
    }
	delete:
	{
		"OnMapSpawn" "cmdCommandsv_enablebunnyhopping 10-1"
		"OnMapSpawn" "cmdCommandsv_staminajumpcost 00-1"
		"OnMapSpawn" "cmdCommandsv_staminalandcost 00-1"
		"OnMapSpawn" "cmdCommandsv_airaccelerate 1000-1"
		"OnMapSpawn" "cmdCommandsv_maxspeed 5000-1"
	}
}

;Glow
modify:
{
	match:
	{
		"targetname" "/temple_lever\d+_\w+/"
		"classname" "prop_dynamic"
	}
	insert:
	{
		"glowstyle" "0"
		"glowenabled" "0"
		"glowdist" "1000000"
		"glowcolor" "255 0 0"
		"OnAnimationBegun" "!selfSetGlowColor0 255 00-1"
		"OnAnimationDone" "!selfSetGlowDisabled8-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever1_mdl"
		"classname" "prop_dynamic"
	}
	insert:
	{
		"OnAnimationDone" "temple_lever2_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever2_mdl"
		"classname" "prop_dynamic"
	}
	insert:
	{
		"OnAnimationDone" "temple_lever3_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever3_mdl"
		"classname" "prop_dynamic"
	}
	insert:
	{
		"OnAnimationDone" "temple_lever4_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever4_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever5_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever5_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever6_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever6_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever7_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever7_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever8_mdlSetGlowEnabled10-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever8_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever9_mdlSetGlowEnabled20-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever9_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever10_mdlSetGlowEnabled20-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever10_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever11_mdlSetGlowEnabled20-1"
	}
}

modify:
{
	match:
	{
		"targetname" "temple_lever11_mdl"
		"classname" "trigger_once"
	}
	insert:
	{
		"OnTrigger" "temple_lever12_mdlSetGlowEnabled20-1"
	}
}