;Block off skip on 2nd hold
add:
{
	"targetname" "Defend_2_Wall"
	"classname" "func_wall_toggle"
	"origin" "737 601 -28"
	"angles" "0 0 0"
	"model" "*164"
	"rendermode" "10"
}

add:
{
	"targetname" "Defend_2_Wall"
	"classname" "func_wall_toggle"
	"origin" "737 473 -28"
	"angles" "0 0 0"
	"model" "*164"
	"rendermode" "10"
}

;Block off skip on 1st hold on level 1
add:
{
	"targetname" "Defend_1_Wall"
	"classname" "func_wall_toggle"
	"origin" "-2831 -336 -28"
	"angles" "0 0 0"
	"model" "*164"
	"rendermode" "10"
}

;Make final pillar unbreakable to prevent trolls
modify:
{
	match:
	{
		"targetname" "Final_Breakable_Shit"
		"classname" "func_breakable"
	}
	insert:
	{
		"health" "999999"
	}
}

;Attempt to fix zombie items on zdg
modify:
{
    match:
    {
        "targetname" "Knife_Chocobo_Strip"
        "classname" "trigger_once"
    }
    delete:
    {
        "OnStartTouch" "Zombie_KnifeUse11"
    }
}

modify:
{
    match:
    {
        "OnTrigger" "Zombie_KnifeUse11"
    }
    delete:
    {
        "OnTrigger" "Zombie_KnifeUse11"
    }
}

filter:
{
	"targetname" "Zombie_Knife"
	"classname" "game_player_equip"
}