;Stripper by Spxctator
;Remove filter on secret triggers, allowing for all humans/zombies to trigger.
filter:
{
	"targetname" "trigger_once"
	"classname" "[SECRET]SECMAN"
}

modify:
{
	match:
	{
		"targetname" "[SR_KEY]lv1"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "[FILTER]HUMAN_SEC01TestActivator0-1"
	}
	insert:
	{
		"OnPressed" "[BGM]Beginning_lpEnable2-1"
		"OnPressed" "[BGM]BeginningPlaySound2-1"
		"OnPressed" "[BGM]sizuku_lpKill0.5-1"
		"OnPressed" "[BGM]sizukuKill0.5-1"
		"OnPressed" "[BGM]komorebi_lpKill0.4-1"
		"OnPressed" "[BGM]komorebi_endKill0.4-1"
		"OnPressed" "[BGM]komorebiKill0.4-1"
		"OnPressed" "[SR_KEY]lv2Unlock0-1"
		"OnPressed" "[BGM]komorebiVolume00-1"
		"OnPressed" "[SE]SPFireUser401"
		"OnPressed" "[SR_KEY]lv1Kill0.3-1"
		"OnPressed" "textRunScriptCodeSecretinfo01()0.051"
	}
}

modify:
{
	match:
	{
		"targetname" "[SR_KEY]lv2"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "[FILTER]HUMAN_SEC02TestActivator0-1"
	}
	insert:
	{
		"OnPressed" "[BGM]Bloody_Tearsu_lpEnable2-1"
		"OnPressed" "[BGM]Bloody_TearsPlaySound2-1"
		"OnPressed" "[SR_KEY]lv3Unlock0-1"
		"OnPressed" "[SE]SPFireUser401"
		"OnPressed" "[SR_KEY]lv2Kill0.3-1"
		"OnPressed" "[BGM]BeginningVolume00.01-1"
		"OnPressed" "[BGM]Beginning_lpKill0.1-1"
		"OnPressed" "[BGM]BeginningKill0.1-1"
		"OnPressed" "textRunScriptCodeSecretinfo02()0.051"
	}
}

modify:
{
	match:
	{
		"targetname" "[SR_KEY]lv3"
		"classname" "func_button"
	}
	delete:
	{
		"OnPressed" "[FILTER]HUMAN_SEC03TestActivator0-1"
	}
	insert:
	{
		"OnPressed" "[BGM]Vampire_Killer_lpEnable2-1"
		"OnPressed" "[BGM]Vampire_KillerPlaySound2-1"
		"OnPressed" "[SE]SPFireUser401"
		"OnPressed" "[SR_KEY]lv3Kill0.3-1"
		"OnPressed" "[BGM]Bloody_TearsKill0-1"
		"OnPressed" "[BGM]Bloody_Tearsu_lpKill0-1"
		"OnPressed" "[BGM]Bloody_TearsVolume00-1"
		"OnPressed" "textRunScriptCodeSecretinfo03()0.051"
		"OnPressed" "[STAGE]mode_bloodEnable0-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "consoleCommandsay >> Modified by Spxctator <<01"
	}
}
