;Stripper by Spxctator
;Remove filter on secret triggers, allowing for all humans/zombies to trigger.
filter:
{
	"targetname" "trigger_once"
	"classname" "[SECRET]SECMAN"
}

modify:
{
	match:
	{
		"targetname" "[FILTER]HUMAN_SEC01"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"filtername" "[FILTER]FLUIDERS"
	}
}

modify:
{
	match:
	{
		"targetname" "[FILTER]HUMAN_SEC02"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"filtername" "[FILTER]FLUIDERS"
	}
}

modify:
{
	match:
	{
		"targetname" "[FILTER]HUMAN_SEC03"
		"classname" "filter_activator_name"
	}
	delete:
	{
		"filtername" "[FILTER]FLUIDERS"
	}
}
