;Stripper by Spxctator
;Work around for boss attacks to appear in chat and hud

add:
{
	"origin" "100 100 100"
	"y" "0.2"
	"x" "0.2"
	"targetname" "Spx_Text"
	"spawnflags" "1"
	"holdtime" "4"
	"fxtime" "0.25"
	"fadeout" "1"
	"fadein" "0.1"
	"effect" "0"
	"color2" "211 211 211"
	"color" "125 255 215"
	"channel" "3"
	"classname" "game_text"
}

modify:
{
	match:
	{
		"targetname" "holy_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** HOLY ***0.01-1"
		"OnTrigger" "Spx_TextSetText< HOLY >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "death_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** MORTAL DISEASE ***0.01-1"
		"OnTrigger" "Spx_TextSetText< MORTAL DISEASE >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "quake_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** QUAKE ***0.01-1"
		"OnTrigger" "Spx_TextSetText< QUAKE >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "exzantetu_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** ZANTETSUKEN ***0.01-1"
		"OnTrigger" "Spx_TextSetText< ZANTETSUKEN >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "exdaikai_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** LARGE EAGRE ***0.01-1"
		"OnTrigger" "Spx_TextSetText< LARGE EAGRE >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "kokoronai_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** FALLEN ONE ***0.01-1"
		"OnTrigger" "Spx_TextSetText< FALLEN ONE >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "exabyss_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** WIND OF ABYSS ***0.01-1"
		"OnTrigger" "Spx_TextSetText< WIND OF ABYSS >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "extibo_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** GAEA RAGE ***0.01-1"
		"OnTrigger" "Spx_TextSetText< GAEA RAGE >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "exflare_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** EXA FLARE ***0.01-1"
		"OnTrigger" "Spx_TextSetText< EXA FLARE >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "expain_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** SURGE PAIN ***0.01-1"
		"OnTrigger" "Spx_TextSetText< SURGE PAIN >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "curaga_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** CURAGA ***0.01-1"
		"OnTrigger" "Spx_TextSetText< CURAGA >0-1"
		"OnTrigger" "Spx_TextDisplay0.01-1"
	}
}

modify:
{
	match:
	{
		"targetname" "ex_relay"
		"classname" "logic_relay"
	}
	insert:
	{
		"OnTrigger" "commandCommandsay *** REZZURECTION ***4-1"
		"OnTrigger" "Spx_TextSetText< REZZURECTION >4-1"
		"OnTrigger" "Spx_TextDisplay4.01-1"
		"OnTrigger" "commandCommandsay *** HASTE ***22-1"
		"OnTrigger" "Spx_TextSetText< HASTE >22-1"
		"OnTrigger" "Spx_TextDisplay22.01-1"
	}
}
